:root {
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background-color: var(--Charcoal-Grey);
    font-family: 'Roboto', serif;
    font-weight: 400;
}

h1 {
    color: var(--Dark-Slate-Grey);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.box {
    width: auto;
    flex-direction: column;
    background-color: var(--White);
    padding: 1rem;
    border-radius: 25px;
}

.formStart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.title {
    margin-bottom: 2rem;
}

.title h1 {
    font-size: 44px;
}

.text-container {
    flex: 1;
    padding: 0 0 0 3rem;
}

.texts {
    justify-content: center;
    align-items: center;
}

.texts p:nth-of-type(1) {
    margin-bottom: 30px;
}

.texts p {
    margin-top: 10px;
}

.texts img {
    height: 20px;
    margin-right: 5px;
}

.img {
    flex: 1;
    justify-content: center;
    text-align: center;
}

.img img {
    max-width: 100%;
    height: auto;
}

.inputField {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
}

.labels {
    display: flex;
    justify-content: space-between;
}

.errorMessage {
    color: var(--Tomato);
}

label {
    font-size: 14px;
    font-weight: 700;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--Grey);
    border: 1px solid var(--Grey);
    outline: none;
}

a {
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
}

.successMessage {
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding: 2rem;
}

.successMessage .title {
    margin: 0 0 1rem 0;
}

.successMessage img {
    width: 45px;
    margin-bottom: .5rem;
}

.successMessage span {
    font-weight: 700;
}

.successMessage p {
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

/* Media Queries */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: 2rem 1rem;
    }
    
    .formStart {
        flex-direction: column;
        gap: 1rem;

        img{
            display: none;
        }
    }
    
    .text-container {
        padding: 0;
        text-align: center;
    }
    
    .box {
        width: 90%;
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .box {
        width: 100%;
        border-radius: 15px;
    }
    
    .title h1 {
        font-size: 36px;
    }
    
    .texts {
        text-align: center;
    }
    
    .inputField input {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .box {
        padding: 1.5rem;
        width: auto;
    }
    
    .title h1 {
        font-size: 28px;
    }
    
    .texts p {
        font-size: 14px;
    }
    
    a {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .box {
        padding: 1rem;
        width: auto;
    }
    
    .title h1 {
        font-size: 24px;
    }
    
    .texts p {
        font-size: 12px;
    }
    
    .inputField input {
        font-size: 14px;
        padding: 8px;
    }
    
    a {
        font-size: 12px;
        padding: 8px;
    }
}
